body{
	margin: 0;
	overflow-x: hidden;
	font-family: 'Calibri Light';
}

.full-size{
	width: 100%;
}

.buttons{
	margin-top: 15px;
}

.butn{
	display: inline-block;
	border: 2px solid #7C9C4F;
	padding:10px 35px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 22px;
	color: #7C9C4F;
}

.light{
	position: relative;
	background: rgba(27, 45, 45, .25);
	transition: all .5s;
}

header img, footer img{
	width: 70px;
}

/* header{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
} */

.header-outer{
	display: flex;
	align-items: center;
	width: 100%;
	padding-right: 20px;
	position: fixed;
	top: 0;
	left: 0;
	justify-content: space-between;
	padding: 5px 25px;
}

.light:after{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	background: #7C9C4F;
	width: 100%;
}

.light:hover:after{
	/* height: 100%; */
}
.light:hover{
	color: #fff;
}

.dark{
	background: #1B2D2D;
	background: rgba(27, 45, 45, .75);
	color: #eee;
	border-color: #1B2D2D;
}

.dark:hover{
	background: #1B2D2D;
}

.title-outer{
	opacity: 0;
	text-align: center;
	padding: 3px 10px 3px 10px;
	border: 3px solid #fff;
}

.title{
	text-align: center;
	position: relative;
	margin: 0;
	color: #fff;
	font-weight: 100;
	font-size: 50px;
}

.title:after{
	content: '';
	width: 30px;
	height: 1px;
	background: #fff;
	position: absolute;
	bottom: -10px;
	left: 50%;
	margin-left: -15px;
}

.swiper-container{
	top: 0;
	position: absolute;
}

h3{
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	font-size: 16px;
	padding-top: 10px;
}

.bg{
	opacity: 0;
	transition: all 1s;
	background: url(../img/bg1.jpg) 0 center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.info{
	display: flex;
	justify-content: space-around;
}

.info-container{
	padding-right: 30px;
	text-align: right;
	opacity: .7;
	margin-top: 50px;
	width: 550px;
	background: #fff;
	border-radius: 0 10px 10px 0;
	transition: all .5s;
	padding-bottom: 40px;
}

.info-container h2{
	border-bottom: 2px solid #7C9C4F;
	padding-bottom: 10px;
}

.info-container:last-child{
	padding-right: 0;
	padding-left: 30px;
	text-align: left;
	border-radius: 10px 0px 0px 10px;
	/* width: 550px; */
}

.more{
	margin-top: 15px;
	display: inline-block;
	position: relative;
	transition: all .5s;
}

.more:after{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	height: 100%;
	width: 0px;
	background: #1B2D2D;
	z-index: -1;
	transition: all .5s;
}

.more:hover:after{
	width: 100%;
}


span{
	color: #1B2D2D;
	color: #7C9C4F;
}

.callback a{
	position: relative;
	padding-left: 75px;
	color: #fff;
	border-color: #fff;
	border-radius: 10px 0 0 10px;
	transition: all .3s;
	
}

.callback .butn{
	position: absolute;
	right: -195px;
	top: 20px;
}

.callback a:hover{
	background: rgba(255, 255, 255, .15);
	right: 20px;
}

.callback img{
	position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

#info{
	padding-bottom: 50px;
}

footer p{
	margin: 0;
	padding: 0 50px;
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
}

footer i{
	/* padding-right: 5px; */
	margin-right: 10px;
	color: #7C9C4F;
}

footer .outer{
	position: relative;
	width: 100%;
	padding-top: 25px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-bottom: 25px;
	font-size: 18px;
}

footer .outer:before{
	content: '';
	position: absolute;
	top: 0;
	display: block;
	width: 70%;
	height: 2px;
	background: #1B2D2D;
	margin: auto;
	left: 15%;
}

footer{
	/* border-top: 4px solid #1B2D2D; */
	/* background: #1B2D2D; */
}