/*//////////////////////////////////////////////////////////////////////////////////////////*/
/* CUSTOM CSS (ADD YOUR CSS HERE!) */
/*//////////////////////////////////////////////////////////////////////////////////////////*/

.headerSlider{
	width: 100%;
	height: 400px;
}
.headerSlider div{
	height: 100%;
}
.headerSlider .item{
	width: 100%;
	-webkit-background-size: cover;
	background-size: cover;
}