body {
  /* font-family: "Raleway", sans-serif; */
  font-family: 'Calibri light';
  /*font-family: "Calibri", sans-serif;*/
  font-weight: normal;
  font-size: 14px;
  /*min-width: 320px;*/
  position: relative;
  line-height: 1.42857;
  color: #fff;
  -webkit-font-smoothing: antialised; 
overflow-x: hidden;}

a{
  text-decoration: none;
  color: #fff;
}

a:hover,
a:focus,
a:focus{
  color: #fff;
  text-decoration: none;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

section,
.main_head {
  position: relative; }

.main_head {
  min-height: 620px;
  padding-top: 0; }

.toggle_menu {
  position: fixed;
  background: #292942;
  width: 60px;
  height: 60px;
  z-index: 100;
  right: 30px;
  border: none;
  outline: none;
  z-index: 999; 
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
}

.sandwich {
  display: block;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 8px; }

.sw-topper {
  display: block;
  position: relative;
  top: 0;
  width: 36px;
  height: 3px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s; }

.sw-bottom {
  display: block;
  position: relative;
  width: 36px;
  height: 3px;
  top: 6px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  transition-delay: 0.2s, 0s; }

.sw-footer {
  display: block;
  position: relative;
  width: 36px;
  height: 3px;
  top: 12px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: all 0.5s;
  transition-delay: 0.1s; }

.sandwich.active .sw-topper {
  top: 8px;
  transform: rotate(140deg); }
.sandwich.active .sw-bottom {
  top: 5px;
  transform: rotate(-140deg); }
.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  transform: rotate(180deg); }

.top_menu {
  /*display: flex !important;*/
  /*opacity: 0;*/
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 50;
  display: none; }
  .top_menu ul,
  .top_menu li {
    list-style-type: none;
    color: #fff;
    margin: 0;
    padding: 0; }
  .top_menu li {
    display: block;
    }
    .top_menu li a {
      color: #fff; }


.logo{
  /* position: fixed; */
  /* z-index: 2; */
}


.logo img{
  /* position: absolute; */
  /*width: 70px;*/
  /*height: 70px;*/
  /* z-index: 1; */
}

.logo-footer, .footer-box, .social-network{
  width: 25%;
}



.content-box{
    width: 100%;
    position: relative;
    z-index: 1;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
}
h1{
    color: #fff;
    font-weight: 600;
    /* font-size: 120px; */
    font-size: 8em;
    line-height: 190px;
    display: block;
    margin: 0 0 28px;
    text-transform: uppercase;
}

header{
  z-index: 999;
}

header ul{
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
}

header li{
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  /* width: 130px; */
  text-align: center;
  margin: -2px;
}

header li a{
  display: inline-block;
  padding-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  margin-right: 15px;
  }

header li a:hover .underline{
  transform: scaleY(5);
  /* margin-bottom: 10px;  */
}

header li:last-child a{
  padding-right: 0;
}

.underline{
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: -10px;
  display: block;
  border-bottom: 3px solid;
  transition: all .3s;
}

.yellow{
  border-color: #FBD14D; 
}

.orange{
  border-color: #FFB14A; 
}

.red{
  border-color: #FF634A; 
}

.blue{
  border-color: #4A8FFF; 
}

.light-blue{
  border-color: #4AD4FF; 
}


header .menu{
  width: 100%;
  position: fixed;
  z-index: 999;
  background: transparent;
  display: flex;
  padding: 20px 40px;
  align-items: center;
  justify-content: space-between;
  transition: all .2s;
  /* border-bottom: 2px solid #292942; */
}

header .col-md-12{
  padding: 0;
}

#intro{
  z-index: -2;
  background: #907A61;
}

#intro p{
  color: #fff;
  font-size: 36px;
  font-weight: 100;
  line-height: 30px;
}

.top_menu ul {
  text-align: center;
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
}

.top_menu li a:hover{
  background: rgba(255,255,255,.1);
  color: #BEBEFF;
  transition: .5s;
}

.top_menu li a{
  width: 100%;
  display: block;
  height: 44px;
  padding-top: 15px;
}

.opacity{
  color: rgba(255,255,255,.2);
  transition: .5s;
}

.about{
  background-image: url(../img/bg_pic2.jpg);
  padding: 200px 0;
  background-size: cover;
}

.about h3{
  font-size: 40px;
  line-height: 22px;
}

span{
  font-weight: 100;
  font-size: 15px;
}

.icons span{
  font-size: 12px !important;
}

.butn{
  font-size: 14px;
  display: inline-block;
  padding: 10px 20px;
  background: #292942;
  border-radius: 30px;
  transition: .2s;
}

.butn:hover{
  background: #4F4F79;
  transition: .2s;
}

.services{
  padding: 50px 50px 100px 50px;
}

.services p, .services h3{
  color: #464646;
}

h2{
  font-size: 50px;
  color: #fff;
}

.outer{
  padding: 25px;
  width: 25%;
}

.packet{
  border: 1px solid #464646;
  /*border-top: 5px solid #464646;*/
  border-radius: 5px;
  text-align: center;
  background: #EEEDED;
  padding-bottom: 20px;
}

.packet .photo{
  width: 100%;
  height: 170px;
  background-image: contain;
  /*border-radius: 10px 10px 0 0;*/
  background-repeat: no-repeat;
  background-position-x: center;
}

.packet p{
  margin: 20px 20px;
  text-align: justify;
}

.photo_01{
  background-image: url(../img/service3.jpg);
  background-position-y: -45px;
}

.photo_02{
  background-image: url(../img/family.jpg);
}

.photo_03{
  background-image: url(../img/woman.jpg);
}

.photo_04{
  background-image: url(../img/children.jpg);
}

.title {
  background: #292942;
  color: #fff;
  padding: 20px 0;
}
.title p{
  color: #fff;
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.line{
  margin: auto;
  border-top: 1px solid #464646;
  width: 120px;
}

.content-block{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.additional-services{
  width: 100%;
  padding: 50px 50px 150px 50px;
  background-image: url(../img/bg3.jpg);
  background-size: cover;
}

.additional-services-packet{
  text-align: center;
  width: 25%;

}

.circle-service{
  margin: auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa{
    font-size: 90px;
  }

.additional-services-packet p{
  margin: 20px auto 40px;
  width: 120px;
  font-weight: 600;
  font-size: 16px;
}

.additional-services .container h2{
  line-height: 30px;
  font-weight: 600;
}

.light-orange{
  background: #fbd14d;
}
.orange{
  background: #ffb14a;
}

.dark-orange{
  background: #ff8a4a;
}

.red{
  background: #ff634a;
}

.callback{
  width: 100%;
  padding: 50px 0;
}

.contact{
  background: #151521;
  width: 100%;
  padding: 50px 30px;
}

footer .content-block{
  margin: 0;
  /*display: flex;*/
  /*align-items: center;*/
}

.footer-box{
  display: flex;
}

.footer-box .fa{
  font-size: 40px;
}

.social-network .fa{
  font-size: 25px;
  margin-right: 15px;
}

.footer-box b{
  margin-left: 10px;
  font-size: 25px;
}

.social-network{
  width: 200px;
  text-align: center;
  background: #292942;
  margin-top: -50px;
  padding-top: 50px;
  margin-bottom: -50px;
}

footer a{
  transition: all .2s;
}

footer a:hover{
  color: #151521;
}

h4, .modal-body p{
  color: #464646;
  text-align: center;
  font-weight: 600;
}

.modal-body p{
  width: auto;
  font-size: 16px;
}

.fadeOn{
  display: flex !important;
}

.packet .title img{
  width: 100%;
}

.full-size{
  position: absolute;
  height: 100%;
  width: 100%;
}

.swiper-slide{
  background-size: cover;
}